body{
    color:lightblue
}
.highlight{/*selectores se identifican con .*/
    color:blue
}
.darkBg{
    background-color: yellow;
    padding: 20px;
}
.darkBg .highlight{/*selector anidado*/
    color: white;
}