p{
    color: gray;
}
p:only-child{
    font-weight: bold;
}
p:only-of-type{
    font-size: 2em;
}
p:first-child{
    color: chocolate;
}
p:last-child{
    background: green;
}
p:nth-child(3){
    text-decoration: underline;
}
p:nth-of-type(4){
    font-style: italic
}